<div
  class="card-item"
  style="position: relative; margin-top:16px; padding: 16px; -webkit-box-flex: 1; flex-grow:1; border-top: 3px solid rgb(50, 115, 217)"
>
  <h2>Redis Enterprise Application</h2>
  <p>
    The Redis Enterprise Application, is a plug-in for Grafana that allows users to connect to Redis Enterprise software
    REST API and build dashboards to easily monitor Redis Enterprise software clusters. It provides out-of-the box
    panels and predefined dashboards - but the plug-in allows to build entirely customized dashboards, tuned to your
    needs.
  </p>
  <p ng-if="!ctrl.configured">
    Click below to <b>Enable</b> and initialize the Application and start monitoring your Redis Labs Enterprise products
    today.
  </p>
  <p ng-if="ctrl.configured">Click <b>Update</b> to edit the Application configuration.</p>
</div>
